@import "tailwindcss";


@layer utilities {
    .latest-products-clip {
        clip-path: polygon(0% 0%, calc(100% - 40px) 0%, 100% 100%, 0% 100%);
        padding-right: 35px;
    }

    @media (min-width: 768px) {
        .latest-products-clip {
            clip-path: polygon(0% 0%, calc(100% - 70px) 0%, 100% 100%, 0% 100%);
            padding-right: 70px;
        }
    }

    body {
        overflow-x: hidden;
    }

    .latest-news-clip {
        clip-path: polygon(0% 100%, 50px 0%, calc(100% - 50px) 0%, 100% 100%);
        transition: none !important;
        backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
        transform: translateZ(0);
        padding-left: 90px;
        padding-right: 90px;
    }

    @media (min-width: 768px) {
        .latest-news-clip {
            clip-path: polygon(0% 100%, 60px 0%, calc(100% - 60px) 0%, 100% 100%);
            padding-left: 120px;
            padding-right: 120px;
        }
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateX(8px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .animate-fade-in {
        animation: fade-in 0.2s ease-out;
    }

    .news-content-body p {
        margin-bottom: 1.25rem;
        font-size: 1.1rem;
    }

    .news-content-body h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: #0580A5;
    }

    .news-content-body shortcode {
        display: none;
    }
}